#clientes .tit-1 {
    font-weight: bold;
    color:#EB6419;
    font-size: 16px;
    text-align: center;
}

#clientes .sub-1 {
    text-align: center;
    margin-top: -5px;
    font-size: 24px;
    color: #3C3C3B;
}

#clientes .text-1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #747472;
    margin-bottom: 25px;
    text-align: center;
}

#clientes .cuadrito {
    text-align: center;
    font-size: 13px;
    color: #EB6419;
    margin-top: -10px;
    margin-bottom: 15px;
}

#clientes .card-body {
    margin: 0 5px;
}

/*------------RESPONSIVE------------*/

@media (min-width:480px) {
    
    #clientes .card-body {
        margin: 0 15px;
    } 
}

@media (min-width:1500px) {
    
    #clientes .card-body {
        margin: 0 30px;
    } 
}

/*------------RESPONSIVE------------*/